<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.xun.holyplugindemo.scanword"
          android:versionCode="1000000"
          android:versionName="1.0.0">

    <application>
        <meta-data
            android:name="pluginName"
            android:value="p_scanword"/>
        <meta-data
            android:name="hostMinVer"
            android:value="1000000"/>
    </application>

</manifest>